[submodule "themes/casper-two"]
  path = themes/casper-two
  url = "https://github.com/eueung/hugo-casper-two"
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
